include includes/head.pug
h1 Listado de productos creados
	body 
		if productos.length
			each item in productos	
				p= item.title 
				p= item.price
				p= item.thumbnail
		else
			h2 Listado vacio	
			
a.btn.btn-success(href='/') Crear producto
include includes/footer.pug