<h1>Crea un producto</h1>

<form action='/' method='post'>
	<input name='title' placeholder='Nombre del Producto' />
	<input type='text' name='price' id='precio' placeholder='Precio' />
	<input name='thumbnail' id='img' placeholder='thumbnail' />
	<input type='submit' />
</form>

<h1>Chat</h1>

<form onsubmit="return addMessagge(this)" >
	<input id="username" type='text' placeholder='Nombre del Producto' />
	<input id="text" type='text'  id='precio' placeholder='Mensajes' />
	<input type='submit' value="Enviar" /></input>
</form>

<div id='messages'></div>