<h1>Crea un producto</h1>

<form action="/productos" method="post">
	<input name="title" placeholder="Nombre del Producto" />
	<input type="text" name="price" id="precio" placeholder="Precio" />
	<input name="thumbnail" id="img" placeholder="thumbnail" />
	<input type="submit" />
	<button><a href="/productos"   >Ver productos</button>
</form>
