<% if (productos.length>0){ %> <% productos.forEach(item => {%>
<table class='table table-bordered border-dark'>
    <thead>
        <tr>
            <th scope="col" > # </th>
            <th scope="col" > <%= item.title %> </th>
            <th scope="col" > <%= item.price %> </th>
            <th scope="col" > <%= item.thumbnail %> </th>

        </tr>
    </thead>
    <img src="<%= item.thumbnail %>" width="50" />
</table>
<% }); %> <% } 

else {%>
<p>Listado vacio</p>
<% } %>

<button><a href="/"   >Crear productos</button>
